# Node modules and build output
node_modules
.next
out

# Logs
npm-debug.log
yarn-debug.log
yarn-error.log
pnpm-debug.log
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor folders and files
.vscode
.idea
*.swp

# Git
.git
.gitignore

# Other unnecessary files
coverage
